body {
    background-color: rgb(135, 35, 65);
    margin: 0;
}
#titulo {
    margin-top: 20px;
    width: 65%;
    text-align: center;
    background-color: rgb(190, 49, 68);
    margin-left: 19%;
    margin-bottom: 0px;
    border: 5px solid rgb(240, 89, 65);
    color: rgb(34, 9, 44);
}
#foot{
    background-color: rgb(34, 9, 44);
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}
#formulario{
    overflow: auto;
    width: 60%;
    height: 35%;
    background-color: rgb(190, 49, 68);
    border: 5px solid rgb(240, 89, 65);
    float: right;
    margin-top: 40px;
    margin-right: 350px;
}
#left {
    float: left;
    width: 49%;
}

#rigth {
    float: right;
    width: 49%;
}
#boton{
   text-align: center;
}