body {
    background-color: rgb(135, 35, 65);
    margin: 0;
   
}

.textl, .textr, .imagenl, .imagenr, #big1, #big2, #busqueda, #diseño {
    width: 80%;
    float: none;
    background-color: rgb(190, 49, 68);
    border: 1px solid rgb(240, 89, 65);
}
#titulo{
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    text-align: center;
    background-color: rgb(190, 49, 68);
    border: 1px solid rgb(240, 89, 65);
}

.contl, .contr{
    float: left;
}


.textl, .textr {
    width: 57%;
    float: left;
    overflow: auto;
    border: 0;
    margin-left: 2%;
}

.imagenl, .imagenr {
    height: 33%;
    width: 33%;
    float: right;
    border-radius: 100%;
    border: 3px solid rgb(34, 9, 44);
    margin-right: 5%;
    margin-top: 5%;
}

#big1, #big2 {
    width: 80%;
    margin-bottom: 20px; 
    margin-top: 20px;
    margin-left: 10%;
    overflow: auto;
}

#busqueda {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
#busqueda select{
    margin-bottom: 5px;
}

#foot {
    position: fixed; 
    width: 100%;
    background-color: rgb(34, 9, 44);
    bottom: 0px;
    
}

#usuario {
    position: fixed; 
    top: 1px;
    right: 90px;
    width: 40px;
    height: 30px;
}

#diseño {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 5%;
}
#profile{
    width: 100%;
    float: none;
    border-radius: 100%;
    margin-left: 30px;
}